.cards {
  margin: 0;
  padding: 64px 0 0 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 30px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
  }
}