.hero__subtitle {
  margin: 0;
  padding: 2% 15px 0 15px;
  font-weight: 900;
  font-size: 4vw;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .hero__subtitle {
    padding-top: 16px;
  } 
}

@media screen and (max-width: 400px) {
  .hero__subtitle {
    font-size: 16px;
  }
}