.menu__link {
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: #6C5CE7;
  transition: opacity .4s;
}

.menu__link:hover {
  opacity: .6;
}

@media screen and (max-width: 1024px) {
  .menu__link {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .menu__link {
    font-size: 18px;  
  }
}