.menu__item::after {
  margin: 0 15px;
  content: "\2022";
  color: #FDCB6E;
}

.menu__item:last-of-type::after {
  content: none;
}

@media screen and (max-width:768px){
  .menu__item {
    margin-bottom: 10px;  
  }

  .menu__item:last-child {
    margin-bottom: 0;  
  }
  .menu__item::after {
    display: none;
  }
}