.grid__button {
  margin: 20px 0 0 0;
  padding: 15px;
  border: none;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 2px 8px rgba(38, 50, 56, 0.12), 0px 16px 24px rgba(38, 50, 56, 0.08);
  font-size: 20px;
  color: #6C5CE7;
  cursor: pointer;
  transition: opacity .4s;
}

.grid__button:hover {
  opacity: .6;
}

@media screen and (max-width: 1024px) {
  .grid__button {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .grid__button {
    font-size: 18px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 400px) {
  .grid__button {
    margin: 0 0 10px 0;
  }
}