@import url(../vendor/normalize.css);
@import url(../fonts/Inter/Inter.css);

@import url(../blocks/page/page.css);

@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-subtitle/section-subtitle.css);

@import url(../blocks/button/button.css);
@import url(../blocks/button/_text/_accent/button_text_accent.css);

@import url(../blocks/drawer/drawer.css);
@import url(../blocks/drawer/_opened/drawer_opened.css);
@import url(../blocks/drawer/__close-btn/drawer__close-btn.css);
@import url(../blocks/drawer/__copyright/drawer__copyright.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__wrapper/header__wrapper.css);
@import url(../blocks/header/__menu-btn/header__menu-btn.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__button/header__button.css);

@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/__image/logo__image.css);
@import url(../blocks/logo/__text/logo__text.css);

@import url(../blocks/menu/__list/menu__list.css);
@import url(../blocks/menu/__item/menu__item.css);
@import url(../blocks/menu/__link/menu__link.css);

@import url(../blocks/main/main.css);
@import url(../blocks/main/__wrapper/main__wrapper.css);

@import url(../blocks/hero/hero.css);
@import url(../blocks/hero/__title/hero__title.css);
@import url(../blocks/hero/__subtitle/hero__subtitle.css);
@import url(../blocks/hero/__span-accent/hero__span-accent.css);

@import url(../blocks/grid/grid.css);
@import url(../blocks/grid/__cell/_center-bottom/grid__cell_center-bottom.css);
@import url(../blocks/grid/__cell/_center-top/grid__cell_center-top.css);
@import url(../blocks/grid/__cell/_left/grid__cell_left.css);
@import url(../blocks/grid/__cell/_right-bottom/grid__cell_right-bottom.css);
@import url(../blocks/grid/__cell/_right-top/grid__cell_right-top.css);
@import url(../blocks/grid/__image/grid__image.css);
@import url(../blocks/grid/__button/grid__button.css);

@import url(../blocks/info/info.css);

@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__icon/cards__icon.css);
@import url(../blocks/cards/__title/cards__title.css);
@import url(../blocks/cards/__text/cards__text.css);
@import url(../blocks/cards/__button/cards__button.css);

