.logo__text {
  margin: 0;
  padding: 0 15px 0 0;
  font-size: 48px;
  letter-spacing: -2px;
}

@media screen and (max-width: 1024px) {
  .logo__text {
    font-size: 36px;
    letter-spacing: -1px;
  }
}

@media screen and (max-width: 860px) {
  .logo__text {
    font-size: 18px;
    letter-spacing: 0;
  }
}