.footer-menu__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.25px;
  color: #2d3436;
  transition: opacity .3s;
}

.footer-menu__link:hover {
  opacity: .6;
}