.grid {  
  display: grid;
  grid-template-areas: 
  "left center-top right-top"
  "left center-bottom right-bottom";
  grid-template-columns: 2fr 4fr 1fr;
  gap: 20px;
  padding-top: 4%;
}

@media screen and (max-width: 1024px) {
  .grid {
    gap: 15px;    
  } 
}

@media screen and (max-width: 768px) {
  .grid {
    gap: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "left center-top"
    "left center-bottom";    
    /* max-width: 100%; */
  } 
}

@media screen and (max-width: 500px) {
  .grid {
    /* padding: 10px; */
  }
}

@media screen and (max-width: 400px) {
  .grid {
    grid-template-areas:
    "center-top" 
    "left";
    grid-template-columns: 1fr;
  }
}